:root {
    --main-bg-color: #E0695E;
    --second-bg-color: #FA7468;
    --third-color: #3B1B19;
    --font-color: #7A3933;
}

img {
    max-width: fit-content
}

body {
    margin: 0;
    padding: 0;
}

header {

    margin-top: -2vw;
    margin-bottom: -2vw;
    padding-top: 0;


}

nav ul {
    height: 100px;
    list-style: none;
    background-color: var(--main-bg-color);
    padding: 1vw;
    padding-top: 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.ulredbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    font-size: 1em;

}

.ulredbox li {
    margin: 0;
    padding: 0;

    margin-right: 4em;

}

.ulredbox p {
    color: white;

}


.ulredbox li:hover {
    border: #7A3933 solid;
    background-color: #7A3933;
}



li {
    padding-left: 50px;
    float: left;
}


li a {
    margin-left: 3px;
    color: white;
    text-decoration: none;


}

.link1,
.link2,
.link3 {
    cursor: grab;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    border: var(--second-bg-color) solid;
    border-width: 1vw;
    background-color: var(--second-bg-color);
}

.link1:hover,
.link2:hover,
.link3:hover {
    border: #7A3933 solid;
    border-width: 1vw;
    background-color: #7A3933;
}

#firstli {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin-right: 40vw;
}

.redbox {
    padding-top: 5vw;
    padding-left:30vw ;
    padding-right:30vw ;
    margin: 0;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    height: min-content;
    
}

.lightredbox {
    align-items: center;
    margin: 0;
    background-color: var(--second-bg-color);

}


.whitebox {
    padding-top: 0;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left:20vw ;
    padding-right:20vw ;
}



.articleul,
.articleol {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--font-color);
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5em;
    color: var(--third-color);
}

h2 {
    border-bottom: var(--font-color) 2px solid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    color: var(--third-color);

}

h3 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5em;
    color: white;
}

h4 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8em;
    color: var(--main-bg-color);
    background-color: white;
    width: 30vw;
    height: 5vh;
    border-radius: 5px;
    cursor: pointer;
}

h5 {
    margin: 0;
    margin-top: 2vw;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    color: #faafa8;

}

h6 {
    margin: 0;
    margin-top: 2vw;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
    color: white;


}

h7 {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    color: black;
}

h8 {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
    color: #faafa8;
    margin-left: 1vw;

}

.fourthbox h8 {
    padding: 1vw;
    font-size: 1.3em;
    margin: 0;
}

h9 {
    padding: 1vw;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
    color: white;
    margin-left: 0;
    margin-right: 1vw;

}

h10 {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4em;
    color: white;

}

.start {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

p {
    color: var(--font-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

.textbox {
    width: inherit;
    border-bottom: white 2px solid;
    padding-bottom: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.firstbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 5vh;
    margin-top: 2vw;
    padding: 1vw;
    border-radius: 1vw;
    border-left: black 3px solid;

}

.secondbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 5vh;
    margin-top: 2vw;
    padding: 1vw;
    border-radius: 1vw;
}

.secondbox h7 {
    text-decoration: line-through;
    color: grey;
}

.right h7 {
    color: grey;
    margin-right: 1vw;
}

.left h7 {
    margin-left: 1vw;
}

.left,
.right {
    display: flex;
    align-items: center;

}

.thirdbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-top: 2vw;
    padding: 1vw;
    border: var(--second-bg-color) 2px dashed;
    border-radius: 1vw;
    background-color: #d6564a;
}

.fourthbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: 5vh;
    margin-top: 2vw;
    padding: 2vw;
    border-radius: 1vw;
    background-color: var(--second-bg-color);
    border-top: white 2px solid;
    margin-bottom: 2vw;
}

.firstbox,
.secondbox,
.thirdbox,
.fourthbox {
    cursor: pointer;
}